bin/
.gomodcache/
.gobuild/
melodyd/melodyd
melodyd/bin/
cmd/*/melody*
!cmd/*/main.go
*.png

# Android
android/local.properties
android/.gradle/
android/.gobuild/
android/.gomodcache/
android/build/
android/app/build/
android/app/release/
